

<!-- Using the global header now --> 
<ion-vew view-title="Listing Detail">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-navicon">
      </button>
    </ion-nav-buttons>
	<ion-content has-header="true" padding="true">
		<ion-list class="list-inset">
			<ion-item class="item item-text-wrap item-thumbnail-right" ng-repeat="item in listings | filter: { street__c: whichListing }">
				<img ng-src="img/{{ item.mobile_image__c }}" alt="Image"/>
				<h2>{{ item.street__c }} {{ item.suburb__c }}</h2>
		        <h3>{{ item.information__c }}</h3>
		        <h3>Bed: {{ item.beds__c }} | Bath: {{ item.bath__c }} | Parking: {{ item.parking__c }}</h3>
		        <h3>RPP Market Apraisal: ${{ item.rpp_market_value__c }}</h3>
		       	<p>&nbsp;</p>
		        <form>
		        	<h2>Enter Sale Details:</h2>
		        	<div class="list">
		        	<label class="item item-input">
					  	<span class="input-label">Sales Price</span>
					  	<input type="text" ng-model="item.sale_price__c">
					</label>
					<label class="item item-input">
					  	<span class="input-label">Sale Date</span>
					  	<input type="text" ng-model="item.sale_date__c">
					</label>
					</div>
					<button class="button button-full button-calm" ng-click="updateListing(item.id, item.sale_price__c, item.sale_date__c)">
				    	Submit
				  	</button>
				</form>
				<p>&nbsp;</p>
		        <p>{{ item.description__c }}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-vew>