<ion-tabs class="tabs-icon-top tabs-assertive">
	<!--Home tab setup --> 
	<ion-tab title="Home" icon="ion-home" href="#/tab/home">
		<ion-nav-view name="home-tab">
		</ion-nav-view>
	</ion-tab>
	<!--Listings Tab Setup --> 
	<ion-tab title="Listings" icon="ion-ios-list-outline" href="#/tab/list">
		<ion-nav-view name="list-tab">
		</ion-nav-view>
	</ion-tab>
	<!--Leaderboard tab setup --> 
	<ion-tab title="Leaderboard" icon="ion-ios-people" href="#/tab/leaderboard">
		<ion-nav-view name="leaderboard-tab">
		</ion-nav-view>
	</ion-tab>

</ion-tabs>